@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: rgb(111,148,157);
    background-image: url('./img/Cópia\ de\ fundo\ página\ desenvWeb.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.titulo{
    color: rgb(235, 241, 245);
    
}

.indice li{
    margin: 10px;
    display: inline;
    color: rgb(198, 225, 251);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 12.5px;
}

.indice a{
  text-decoration: none;
  color: rgb(226, 229, 233);
}

.indice a:hover{
  color:#0056b3;
}

p{
    color: rgb(27, 102, 167)
}

.caixa {
    background-color: rgba(255, 255, 255, 0.7); 
    border: 2px solid rgb(255, 255, 255); 
    border-radius: 15px; 
    padding: 50px; 
    width: 600px; 
    margin: 20px auto;

}

span{
  font-weight: bold;
}

.caixa li{
    color: rgb(27, 102, 167);
    text-align: left;
}

h2{
    color: rgb(49, 49, 138);
}
 @media screen and (max-width: 1170px){
    body{
        background-image: none;

    }
    
    .caixa {
      background-color: rgba(255, 255, 255, 0.7);
      border: 2px solid rgb(255, 255, 255);
      border-radius: 15px;
      padding: 50px;
      width: 330px;
      margin: 20px auto;
  
  }
  .indice li{
    margin: 10px;
    display: block;
    color: rgb(198, 225, 251);
    list-style-type: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 13px;
}
}

@media screen and (max-width: 1280px){
  .indice li{
    margin: 10px;
    display: block;
    color: rgb(198, 225, 251);
    list-style-type: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 12px;
}
}